button,
a.button {
	&.standard {

		// NOTE - will define the larger standard buttons here and apply class where used.

		&-small {
			height: 20px;
			padding: 5px 15px;
			border: none;
			border-radius: 4px;
			@include font-size(11);
			@include line-height(11);
			@include font-weight(bold);
			text-transform: uppercase;
			color: white;
			background: $civiq-small-cta-primary;
		}
	}
}



