.news-header {
  display: flex;
  font-size: 16px;

  background: $civiq-background-container;

  body.theme-civiqsocial-light & {
    background: $civiq-background-container-light;
    color: $civiq-default-text-light;
  }

  flex: 0 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 0;
  outline: 0;
  overflow: hidden;
  padding: 0 0px 0 10px;

  & > button,
  & > .btn {
    margin: 0;
    border: none;
    padding: 15px;
    color: inherit;
    background: transparent;
    font: inherit;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;

    &--sub {
      font-size: 14px;
      padding: 6px 10px;
    }

    &.grouped {
      margin: 6px;
    }

    &.active {
      color: $primary-text-color;
      border-radius: 10px;
      background-color: rgba($highlight-text-color, .1);
    }

    @media screen and (max-width: $nav-breakpoint-2) {
      padding: 8px;
      font-size: 14px;

      &.grouped {
        margin: 6px 2px 6px 6px;
      }

      &.active {
        border-radius: 5px;
      }
    }
  }

  & > .news-header__back-button {
    color: $highlight-text-color;
  }

  &.active {
    box-shadow: 0 1px 0 rgba($highlight-text-color, 0.3);

    .news-header__icon {
      color: $highlight-text-color;
      text-shadow: 0 0 10px rgba($highlight-text-color, 0.4);
    }
  }

  &:focus,
  &:active {
    outline: 0;
  }
}
.news-categories{
  margin-left: -10px;
  .menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }

  .scroll-menu-arrow {
    padding: 15px;
    cursor: pointer;
  }
}


.news-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.news-card {
  display: block;
  flex: 0 0 calc(50% - 20px / 2);
  @include civiq-container-standards();
  margin-bottom: 10px;
  text-decoration: none;
  overflow: hidden;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .news-card__header {
    overflow: hidden;

    img {
      pointer-events: none;
      width: 100%;
      background: $civiq-background-container;

      body.theme-civiqsocial-light & {
        background: $civiq-background-container-light;
      }
    }
  }

  .news-card__content {
    padding: 15px;

    .news-card__title {
      color: $primary-text-color;
      font-size: 16px;
      font-weight: bold;
    }

    .news-card__meta {
      color: $civiq-secondary-text;
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 10px;

      .news-card__published_at {
        float: right;
        padding: 0px 16px;
      }
    }

    .news-card__description {
      color: $primary-text-color;
      font-size: 14px;
    }
  }
}

.news-category {
  padding: 15px;
}

.news-detail {
  margin-top: 10px;
  .news-detail__item{
    padding: 20px;
  }
  .news-detail__meta {
    color: $civiq-secondary-text;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;

    .news-detail__published_at {
      float: right;
      padding: 0px 16px;
    }
  }
  .news-detail__image {
    margin: 10px;
  }
  .news-detail__header{
    font-size: larger;
    font-weight: bold;
    body.theme-civiqsocial-light & {
      color: $primary-text-color;
    }
  }
  .news-detail__content {
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
    body.theme-civiqsocial-light & {
      color: $primary-text-color;
    }
    p {
      margin-bottom: 10px;
    }
  }
}
