- content_for :page_title do
  = t('newsfeeds.news_souces')

.filters
  .filter-subset
    %strong= t('admin.invites.filter.title')
    %ul
      %li= filter_link_to t('newsfeeds.news_source_status_active'), status: 'active'
      %li= filter_link_to t('newsfeeds.news_source_status_inactive'), status: 'inactive'


%hr.spacer/

-# - if policy(:invite).create?
-#   %p= t('invites.prompt')
-#
-#   = render 'invites/form'

  %hr.spacer/

.table-wrapper.simple_form
  %table.table.table--invites
    %thead
      %tr
        %th= t('newsfeeds.news_feed')
        %th= t('newsfeeds.category_title')
        %th= t('newsfeeds.news_source_status')
        %th= t('newsfeeds.news_source_format')
    %tbody
      = render @news_sources

= paginate @news_sources

-# - if policy(:invite).deactivate_all?
-#   = link_to t('admin.invites.deactivate_all'), deactivate_all_admin_invites_path, method: :post, data: { confirm: t('admin.accounts.are_you_sure') }, class: 'button'
