- content_for :header_tags do
  = preload_link_tag asset_pack_path('features/getting_started.js'), crossorigin: 'anonymous'
  = preload_link_tag asset_pack_path('features/compose.js'), crossorigin: 'anonymous'
  = preload_link_tag asset_pack_path('features/home_timeline.js'), crossorigin: 'anonymous'
  = preload_link_tag asset_pack_path('features/notifications.js'), crossorigin: 'anonymous'

  %meta{name: 'applicationServerKey', content: Rails.configuration.x.vapid_public_key}
  %script#initial-state{ type: 'application/json' }!= json_escape(@initial_state_json)

  = javascript_pack_tag 'application', integrity: true, crossorigin: 'anonymous'

.app-holder#civiqsocial{ data: { props: Oj.dump(default_props) } }
  %noscript
    = image_pack_tag 'logo.png', alt: 'Civiq'

    %div
      = t('errors.noscript_html', apps_path: 'https://civiq.social/about/apps')
