%tr{id:dom_id(news_category)}
  %td
    %samp= news_category.name
  %td
    = table_link_to 'times','Delete' , admin_news_category_path(news_category), method: :delete, data: { confirm: t('admin.accounts.are_you_sure') }
