- content_for :page_title do
  = t('newsfeeds.add_news_source')

%ul.quick-nav
  %li= link_to safe_join([fa_icon('plus fw'), t('newsfeeds.add_category')]), '#add_new_category'
  %li= link_to safe_join([fa_icon('random fw'), t('newsfeeds.news_source_category')]), '#list_categories'


  .category-form#add_new_category
    %hr#add_new_category/
    = simple_form_for @news_category, url: admin_news_categories_path do |f|
      = render 'shared/error_messages', object: @news_category

      .fields-group
        = f.input :name, method: :post

      .actions
        = f.button :button, t('newsfeeds.add_category'), type: :submit

  %hr#list_categories/
  .table-wrapper
    %table.table
      %thead
        %tr
          %th= safe_join([fa_icon('random fw'), t('newsfeeds.news_source_category')])
          %th
      %tbody{id: 'sortable', "data-url": "#{sort_admin_news_categories_path }"}
        = render @news_categories


:javascript
  document.addEventListener("turbolinks:load", function() {



  });
  $("#sortable").sortable({
    update: function(e, ui) {
      $.ajax({
        url: $(this).data("url"),
        type: "POST",
        data: $(this).sortable('serialize'),
        headers:  {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  }
      });
    }
  });



