- content_for :page_title do
  = t('terms.appstitle', instance: site_hostname)

.content
  .box-widget
    .rich-formatting
      %h2 Recommended Apps
      %p
      %p Most people will access Civiq directly withj web browser, however if you prefer You can use Civiq with any of these apps!
      %p
      %p
      %h2 Android
      %p
        %strong
          %a{:href => "https://play.google.com/store/apps/details?id=com.keylesspalace.tusky"} Tusky
        %em (recommended)
        \- a free lightweight client - It supports all features, like photos, videos, lists, custom emojis and is designed according to material guidelines.
      %p
        %strong
          %a{:href => "https://play.google.com/store/apps/details?id=jp.juggler.subwaytooter"} Subway Tooter
        \- a free Mastodon client for Android 5.0 or later.
      %p
        %strong
          %a{:href => "https://play.google.com/store/apps/details?id=app.fedilab.android"} Fedilab
        \- Fedilab is paid multifunctional Android client to access the distributed Fediverse, consisting of micro blogging, photo sharing and video hosting.
      %p
      %h2  iOS
      %p
        %strong
          %a{:href => "https://apps.apple.com/us/app/amarok-for-mastodon/id1214116200?ls=1"} Amaroq
        %em (recommended)
        \- a free and lightweight universal client for any Mastodon instance! Simply enter the instance you belong to, log in, and enjoy the all the wonders of the federated social network from your phone.
      %p
        %a{:href => "https://apps.apple.com/us/app/mast/id1437429129"}
          %strong Mast
        \- a paid app built with iOS design guidelines in mind. It’s as feature-packed as it is gorgeous. With customisable content and themes.
      %p
        %a{:href => "https://apps.apple.com/app/toot/id1229021451?ls=1", :title => "Toot"}
          %strong Toot
        \- a paid client for the Mastodon social network. It is beautiful, and full of character and whimsy.
      %h2{"data-reactid" => "86"} Web
      %p
        %a{:href => "https://pinafore.social/", :title => "Pinafore"}
          %strong Pinafore
        \- web client designed for speed and simplicity.
      %p
        %a{:href => "https://www.halcyon.social/", :title => "Halcyon"}
          %strong Halcyon
        \- A webclient for which looks like Twitter.
      %p
      %h2 Desktop
      %p
        %strong
          %a{:href => "https://whalebird.org/en/desktop/contents"} Whalebird
        \- a client for desktop application
      %p
        %strong
          %a{:href => "https://appcenter.elementary.io/com.github.bleakgrey.tootle/"} Tootle
        \- a client with real-time notifications and multiple accounts support
      %p
        %a{:href => "https://thedesk.top/en/", :title => "The Desk"}
          %strong The Desk
        \- a Japanese client.
      %p
        %a{:href => "https://hyperspace.marquiskurt.net/", :title => "Hyperspace"}
          %strong Hyperspace
        \- clean, fast, and responsive design that scales beautifully across devices.
      %p 
      %h2  SailfishOS
      %p
        %a{:href => "https://openrepos.net/content/dysko/tooter"}
          %strong Tooter
      %p
      %p
