- content_for :page_title do
  = t('terms.title', instance: site_hostname)

.content
  .box-widget
    .rich-formatting
      %h2 Investors and Supporters
      %p
      %p Civiq  is free. There is no advertising, monetizing, or data mining of your personal information. Thank you to the following people, organizations and companies who make it possibe:
      %p
        = link_to 'Fourth Estate Public Benefit Corporation', 'https://www.fourthestate.org'
