- content_for :page_title do
  = t('terms.title', instance: site_hostname)

.content
  .box-widget
    .rich-formatting
      %h2 Server-level silencing and suspension

      %p The moderators reserve the right to silence or block any servers which violate Civiq's rules and principles, violates user privacy, or who operate contrary to U.S. Law. If you feel your instance has been suspended in error, please email the administrator.

      %br
      %p

      %h3 Currently Suspended Servers and Instances

      %p

      %h4 Reason: Spam

      %ul
        %li weedis.life
        %li freefedifollowers.ga
        %li 4chan.icu

      %br
      %p

      %h4 Reason: Violating User Privacy

      %ul
        %li pleroma.online

      %br
      %p

      %h4 Reason: Porn/Sex Trafficking

      %ul
        %li kink.town
        %li twimblr.xyz
        %li humblr.social
        %li ksinblr.com

      %br
      %p
