- content_for :page_title do
  = t('terms.title', instance: site_hostname)

.content
  .box-widget
    .rich-formatting
      %h2 Terms of Sale
      %p Fourth Estate Public Benefit Corporation ("Fourth Estate, “We” or “CIVIQ”) hereby allow you to access certain premium features or content in exchange for a one-time or recurring fee, as applicable to the relevant features or content, such as our “Pro” enhanced social media offering (collectively, each a “Premium  Service” and collectively the "Premium Services"). Your transactions and any other use of the Premium Services are subject to these Premium Service Terms of Service ("Terms”).

      %h3 1. Your Acceptance
      %p
        By using a Premium Service, you signify your agreement to (1) these Terms of Sale; and (2) CIVIQ’s
        = link_to 'Terms of Service', about_tos_path
        ,
        = link_to 'Privacy Notice', about_privacy_path
        , and
        = link_to 'Copyright Notice', about_dmca_path
        , and all other terms and conditions that generally apply to the Website (as such term is defined in the Terms of Service). Please read the Terms carefully. If you do not understand the Terms, or do not accept any part of them, then you may not use the Premium Services.
      %p Each time you place an order for a Premium Service (including when you order individual subscriptions or items of content), you enter into a separate contract for services on these Terms. When you complete a purchase, you signify that you wish to enter into a binding contract for the provision of the applicable Premium Services.

      %h3 2. Payment, Refund and Cancellation Policy
      %p CIVIQ accepts payment via the current payment method indicated prior to purchase, which may include Bitcoin and/or any other form of payment that we make available to you from time to time. You must tender valid payment or have a valid accepted form of payment on file in order to purchase Premium Services. You agree to abide by any relevant Terms of Service or other legal agreement, whether with CIVIQ or a third party, that governs your use of a given payment processing method. Prices for any Premium Service may change at any time, and CIVIQ does not provide price protection or refunds in the event of a price reduction or promotional offering. You agree to pay for any Premium Service that you order. CIVIQ will charge your credit card or other form of payment for the price listed on the relevant Premium Service offer, along with any additional amounts relating to applicable taxes, bank fees and currency fluctuations. If you purchase any automatically renewing subscriptions, you agree that CIVIQ will charge the payment method on file on the first day of each billing period for the relevant subscription, and if the payment method on file becomes invalid due to an expired credit card or other similar reason and we are unable to charge you on the next billing period, CIVIQ reserves the right to immediately revoke your access to any Premium Service you have ordered until you update your payment method. If you fail to update your payment method within a reasonable amount of time, CIVIQ may cancel your subscription.
      %p Billing periods may be monthly or quarterly. The renewal period applicable to any subscription will be the same as the initial billing period for the Premium Services.
      %p If CIVIQ is required to collect or pay any taxes in connection with your purchase of a Premium Service, such taxes will be charged to you at the time of each purchase transaction. Additionally, if required by law, you are responsible for reporting and paying certain taxes in connection with your purchase and use of a Premium Service. Such taxes may include duties, customs fees, or other taxes (other than income tax), along with any related penalties or interest, as applicable to your purchase or country of purchase.

      %p
        %b REFUNDS:
        all purchases are final.

      %p
        %b SUBSCRIPTION CANCELLATIONS:
        you purchase a subscription to a Premium Service that automatically renews, you may cancel the subscription any time before the end of the current billing period and the cancellation will take effect on the next billing period. You will retain access to the Premium Service from the time you cancel until the start of the next billing period, and will not receive a refund or credit for any remaining days in your current billing period. If you have any questions or need to contact us about cancellation, please send an e-mail to #{mail_to 'support@fourthestate.org'} or write to CIVIQ, marked for the attention of "Support Services," at our business address listed at the bottom of this policy.

      %h3 3. Accessing Premium Services.
      %p Certain types of Premium Services may require you to use a device that meets the system and compatibility requirements for such Premium Service, which may change from time to time. You shall have sole responsibility for obtaining a device which satisfies those requirements.

      %h3 4. License
      %p Your use of the Premium Services must be only for personal, non-commercial use. You agree not to use any Premium Service, in whole or in part in connection with any public presentation even if no fee is charged (except where such use would not constitute a copyright infringement). You are receiving a non-exclusive license to access the Premium Service and all rights, title and interest in the Premium Services (including any content offered through the Premium Services) not expressly granted to you in these Terms are reserved by Fourth Estate and its licensors. If Fourth Estate reasonably determines that you violated any of the terms and conditions of the Premium Service Terms, your rights under this Section 4 will immediately terminate and Fourth Estate may terminate your access to the Premium Service and/or your Fourth Estate account without notice and without refund to you.

      %h3 5. Restrictions
      %p When you use the Premium Service, you may not (or attempt to):

      %ul
        %li violate the Terms of Service;
        %li use the Premium Service in an illegal manner or for an illegal purpose;
        %li share your account password with someone else to allow them to access any Premium Service that such person did not order;
        %li copy, sell, rent, or sublicense the Premium Services to any third party;
        %li circumvent, reverse-engineer, modify, disable, or otherwise tamper with any security technology that Fourth Estate uses to protect the Premium Service or encourage or help anyone else to do so;
        %li access the Premium Service other than by means authorized by Fourth Estate; or
        %li remove any proprietary notices or labels on Premium Services.

      %h3 6. Changes
      %p Fourth Estate reserves the right to change the availability and content of the Premium Services at any time with or without notice to you. In addition, we reserve the right to modify, suspend, or discontinue any Premium Service with or without notice to you and we will not be liable to you or any third party for any such modifications, suspension, or termination. However, this will not affect your ability to request a refund as described above.
      %p
        In certain cases, content available within a Premium Service may become unavailable. Fourth Estate will have no liability to you for any such unavailability. We may also change these Premium Service Terms from time to time so we encourage you to periodically review the most up-to-date version at
        = link_to 'https://civic.social/about/sales'
      %p If the Premium Service Terms change, you will have the opportunity to review the new terms when you next purchase any Premium Service. By completing the purchase, you signify your agreement to the new Premium Service Terms, and further, that they will apply to your use of the Service as a whole (including any Premium Service you have purchased in the past) and all subsequent purchases (until the Premium Service Terms change again). If you refuse to accept the updated Premium Service Terms then you may not buy any additional Premium Services and the latest version of the Premium Service Terms that you accepted will continue to apply to your use of previously purchased Premium Services.

      %h3 7. Communications
      %p By using the Premium Services, you consent to receiving communications from us including marketing communications such as newsletters about features and content, special offers, promotional announcements, and customer surveys, to your registered email address or via other methods.

      %h3 8. Other Terms
      %p You acknowledge and agree that certain content available in the Premium Services may be considered offensive to some people and that such content may not be labeled as such. Additionally, certain descriptions of Premium Services or content available in the Premium Services are not guaranteed to be accurate. You agree to use the Premium Services at your own risk and, subject to applicable laws, Fourth Estate will have no liability to you for any content that you find offensive.

      %p The Premium Services are being provided by the Fourth Estate Public Benefit Corporation, reachable at:

      %p
        CIVIQ
        %br
        c/o Fourth Estate
        %br
        1717 K Street NW, Suite 900
        %br
        Washington, DC 20006
        %br
        United States of America

